# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment
.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

env.template
